/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 nov 2019, 10:08:35
    Author     : miche
*/

/*
    Document   : shoppinglists
    Created on : 14-apr-2018, 15.16.06
    Author     : Stefano Chirico &lt;chirico dot stefano at parcoprogetti dot com&gt;
*/
.red-window-close {
    color: tomato;
}
.light-gray-pdf {
    color: lightgray;
}
